* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#banner {
  background-color: #9A48D0;
  color: #F6EFFB;
  width: 100%;
  padding: 5rem;
}

#banner > h1,
#pata {
  display: flex;
  justify-content: center;
}

#navbar {
  text-align: center;
  background-color: #63458A;
  color: #F6EFFB;
}

#navbar a:link, a:visited {
	color: #F6EFFB;
	text-decoration: none;
}

#navbar a:hover,  {
	color: #E3CEF3;
	text-decoration: none;
}

#navbar a:active {
	color: #C79CE7;
	text-decoration: none;
}

#navbar ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#navbar li {
  display: block;
  margin: 10px 0;
}

#txt,
.meios {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.meios > ul {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #8080804d;
  padding: 5rem;
}

.meios > ul,
li {
  list-style-type: circle;
}
